body {
    background: #1b1b1b;
}

.sb-cont {
    background-color: rgb(31, 31, 31);
    height: 40px;
}

.sb-bg {
    background-color: rgb(66, 66, 66); 
    height: 30px;
    border-radius: 30px;
    width: 80%;
}

.sb-logo {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: black;
    margin: 0 22px 0 10px;
}

.sb-text {
    overflow: hidden;
}

.anim-typewriter {
    position: relative;
    overflow: ellipsis;
    text-wrap: nowrap;
}

.anim-typewriter::after {
    content: '';
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background:rgb(66, 66, 66) ;
  border-left: 2px solid #c4c4c4;
  animation: typing 3s steps(48) forwards;
}

@keyframes typing {
    100% {
        left: 100%;
    }
  }

/* main styling */ 

.subtext {
  animation-delay: 3s;
}
.hide {
  opacity: 0 !important;
}

/* HOLOGRAM BASE */

.base {
  width: 100%;
  height: 1px;
  transform: rotateX(78deg);
  animation: rotate1 7s infinite linear;
}

.inner-circle {
  width: 15%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: solid #48abe0 4px;
  box-shadow: 0 0 30px 5px #48abe0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dashed-circle {
  width: 20%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: solid #48abe0 4px;
  box-shadow: 0 0 30px 5px #48abe0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ring-3 {
  width: 30%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: dashed #48abe0 6px;
  box-shadow: 0 0 30px 5px #48abe0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.outer-circle {
  width: 35%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  border: solid #48abe0 4px;
  box-shadow: 0 0 30px 5px #48abe0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rotate1 {
  100% {
   transform:rotateX(78deg) rotateZ(360deg);
  }
}